<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>index</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!--Bootstrap link-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
   {% block css %}
  <!--CSS file-->
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/index.css')}}">
  {% endblock %}
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
    	<li class="active"><a href="#" ><b>Gifts</b></a></li>
      <li ><a href="/">Home</a></li>
      <li ><a href="mlogin">Shop manager login</a></li>
      <li ><a href="ologin">Shop owner login</a></li>
      <li ><a href="cmlogin">customer login</a></li>
      <li ><a href="smlogin">customer register</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
    </ul>
  </div>
</nav>
{% block content %}
<img src="{{url_for('static',filename='images/back.jpg')}}" style="width: 100%; margin-top: -23px;">
{% endblock %}
</body>
</html>
