.container{
	width: 30%;
	margin-left: 35%;
	margin-top: 5%;
	background-color: #f9f3f3;
	border-radius: 10px;
	padding: 30px;
}
.text{
	padding: 5px;
	border-radius: 5px;
	width: 100%;
}
body{
	background-color: black;
}
.sub{
	padding: 5px;
	border-radius: 5px;
	width: 30%;
	margin-left: 30%;
}
.subm{
	padding: 5px;
	border-radius: 5px;
	width: 50%;
	margin-left: 25%;
}
h1 , h3{
	text-align: center;

}
.radio-inline{
	padding: 20px;
}
body {
  background-image: url('car_back.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.logo{
	width: 60px;
	border-radius: 50%;
}